::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  flex: 0 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #333333;
}

.navbar > div {
  flex: 1;
}

.navbar img {
  cursor: pointer;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.world-part {
  flex: 0 20%;
  margin: 1em 5% 1em 5%;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: gray 5px 5px 5px;
}

.world-part:hover {
  transform: scale(1.05);
  box-shadow: gray 7px 7px 7px;
}

.world-title {
  text-align: center;
  background: #333333;
  height: 2em;
  color: white;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  width: 33%;
  height: 80%;
  border-radius: 10px;
  background: #cac9c7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 800) {
  .popup-content {
    width: 50%;
  }
}

.popup-title {
  flex: 0 4em;
  width: 100%;
  background: #333333;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.popup-selection {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.popup-boxes {
  display: flex;
  width: 50%;
  height: 6em;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  border: #333333 1px solid;
  box-shadow: #333333 5px 5px 5px;
  overflow: hidden;
}

.popup-difficulty {
  width: 100%;
  text-align: center;
  color: white;
}

.question {
  position: absolute;
  top: 8em;
  height: 5em;
  left: 30%;
  width: 40%;
  background: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
}

#main {
  flex: 1;
  background: #cac9c7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#mapid {
  z-index: 0;
  flex: 1;
  width: 100%;
  background: #6facaa;
}

.homeTitle h1 {
  padding-top: 30px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 800px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  min-height: 75px;
}
#formContent h5 {
  color: grey;
  padding: 25px;
}
.underlineHover {
  color: red;
}

.points {
  bottom: 5em;
  right: 5em;
  width: 6em;
  height: 4em;
  background: white;
  position: absolute;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
  background-color: #39ace7;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type="text"],
input[type="password"],
input[type="email"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type="text"]:placeholder {
  color: #cccccc;
}

/* ScorePage*/
#ScoreContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  border: solid 3px lightgrey;
  height: 650px;
}

#ScoreContent h4 {
  text-align: center;
  color: grey;
  font-size: 25px;
  padding: 20px;
}

#ScoreContent #yourScore {
  margin: auto;
  width: 100%;
  padding: 10px;
  padding-top: 50px;
  text-align: center;
}

#ScoreContent #yourScore .boutonRejouer {
  margin-top: 30px;
}

.error-message {
  width: 20em;
}

#logoutButton,
#loginButton {
  background: #cac9c7;
  color: #333333;
  margin: 0;
}

#logoutButton:hover,
#loginButton:hover {
  background: #afaeac;
}

.navmodal {
  position: absolute;
  background: #cac9c7;
  border-radius: 0 5px 5px 5px;
  padding: 1em;
  box-shadow: #0d0d0d 0px 5px 5px;
}

.navmodal > div {
  height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  overflow-y: scroll;
  text-align: center;
}

#Leaderboard {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  border: solid 3px lightgrey;
  height: 650px;
  width: 90%;
  overflow: hidden;
}
