* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  flex: 0 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #594b32;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.world-part {
  flex: 0 20%;
  margin: 1em 5% 1em 5%;
  border-radius: 5px;
  cursor: pointer;
}

.world-title {
  text-align: center;
  background: #594b32;
  height: 2em;
}

#main {
  flex: 1;
  background: #a2a28b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#menu-hamburger {
  cursor: pointer;
}

#mapid {
  flex: 1;
  width: 100%;
}
